<div >
    <mat-horizontal-stepper linear class='update-password-container'>
        <mat-step [completed]='emailForm.valid'>
            <div class="update-user-password-form-container">
                <form class="update-user-password-form" #emailForm='ngForm'>
                    <h3>Enter Your Email Address</h3>
                    
                    <mat-form-field color='accent'>
                        <mat-label>Email</mat-label>
                        <input matInput [type]="emailField.type" 
                        [name]='emailField.name'
                         [(ngModel)]='emailField.value'
                         [required]='emailField.required'
                         email
                         >
                    </mat-form-field>
                    <div class='update-user-password-button-container'>
                        <button (click)='sendVC(emailField.value)' matStepperNext mat-raised-button color='primary'>Continue</button>
                        <a routerLink='/login' mat-raised-button>Back</a>
                    </div>         
                </form>
            </div>
        </mat-step>
        <mat-step [completed]='verificationCodeForm.valid && generatedVC==verificationCodeField.value'>
            <div class="update-user-password-form-container">
                <form class="update-user-password-form" #verificationCodeForm='ngForm'>
                    <h3>Please Verify Your Email Address</h3>
                    <p style="font-size:0.833em">We have sent a verification code to your email</p>
                    <mat-form-field color='accent'>
                        <mat-label>Enter Code</mat-label>
                        <input matInput [type]="verificationCodeField.type" 
                        [name]='verificationCodeField.name'
                         [(ngModel)]='verificationCodeField.value'
                         [required]='verificationCodeField.required'
                         >
                    </mat-form-field>
                    <div class='update-user-password-button-container'>
                        <button matStepperNext mat-raised-button color='primary'>Continue</button>
                        <button matStepperPrevious mat-raised-button>Back</button>
                    </div>         
                </form>
            </div>
        </mat-step>
        <mat-step [completed]='updatePasswordForm.valid'>
            <div class="update-user-password-form-container">
                <form class="update-user-password-form" #updatePasswordForm='ngForm'  (ngSubmit)='updatePassword()'>
                    <h3>Update Password</h3>
                    <ng-container>
                        <mat-form-field *ngFor="let passwordField of passwordFields"  color='accent'>
                            <mat-label>{{passwordField.name}}</mat-label>
                            <input matInput 
                            [type]="passwordField.type" 
                            [name]='passwordField.name' 
                            [(ngModel)]='passwordField.value' 
                            [required]='passwordField.required'
                            >
                        </mat-form-field>
                    </ng-container>
                    <div class='update-user-password-button-container'>
                        <button matStepperNext mat-raised-button color='primary'>Submit</button>
                        <button matStepperPrevious mat-raised-button>Back</button>
                    </div>         
                </form>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
