.update-password-container
{
    min-height: 100vh;
}

.update-user-password-form
{
    display:flex;
    flex-direction: column;
    max-width: 480px;
    color:white;
    width:80%;
}

.update-user-password-form-container{
    display:flex;
    justify-content: center;
}

.update-user-password-button-container
{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
}