<ion-content>
    <div class="update-user-password-form-container" [style.backgroundColor]="configurationService.primaryColor">
        <form class="update-user-password-form" #emailForm='ngForm'>
            <h3>Enter Your Email Address</h3>
            
            <ion-item color='primary'>
                <ion-label position="floating">Email</ion-label>
                <ion-input matInput [type]="emailField.type" 
                [name]='emailField.name'
                 [(ngModel)]='emailField.value'
                 [required]='emailField.required'
                 email
                 ></ion-input>
            </ion-item>
            <div class='update-user-password-button-container'>
                <ion-button (click)='sendVC(emailField.value)' color='secondary'>Continue</ion-button>
                <ion-button color="primary" routerLink='/login'>Back</ion-button>
            </div>         
        </form>
    </div>
</ion-content>