<ion-content>
<ion-calendar [type]="type" [(ngModel)]="date" [format]="'YYYY-MM-DD'" (change)="calendarDateChange($event)"></ion-calendar>
<h4 *ngIf="timeSlots.length>0" class="ion-text-center">Select Slot</h4>
<div style="display:grid;grid-template-columns: auto auto auto;max-width: 640px;margin:auto" [class.ion-padding]="timeSlots.length>0">
  <ng-container *ngFor="let slot of timeSlots">
    <ion-button fill="outline">
      {{slot.startTimeSlot}}
    </ion-button>
  </ng-container>
</div>
<h4 *ngIf="timeSlots.length===0"  class="ion-padding ion-text-center">No Slots Available</h4>
</ion-content>

 